@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
  font-family: 'Roboto',sans-serif;
  background: rgba(251, 247, 243,0.4);
  line-height: 1.6;
  background-image:url(nolan-issac-38299-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
}
.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.slide.current {
opacity: 1;
overflow-x: hidden;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}
.slide .content h1 {
  margin-bottom: 10px;
}
.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}
.buttons button#next {
  position: relative;
  top:-450px;
  margin-left: 20px;
  overflow-x: hidden;
}
.buttons button#prev {
  position: relative;
  top:-450px;
  margin-left: 20px;
  overflow-x: hidden;
}
.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;

}
.buttons button:hover {
  background-color: white;
  color: #333;
}

@media (max-width: 768px) {
  .slide .content {
    bottom: -300px;
    left:0;
    width:100%;
  }
  .slide.current .content {
    transform: translateY(-300px);
  }
}
/* Background Images */
.slide:first-child {
  background: url('beverage-blur-close-up-1816092.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
  background: url('beverage-blur-brand-569996.jpg') no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url('bar-beverage-blur-597933.jpg') no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url('architecture-building-city-303324.jpg') no-repeat center top/cover;
}
.slide:nth-child(5) {
  background: url('blur-cake-chair-564898.jpg') no-repeat center top/cover;
}
.slide:nth-child(6) {
  background: url('brand-caffeine-cardboard-1435750.jpg') no-repeat center top/cover;
}
